**/.git
**/.gitignore
**/.next
**/.vscode
**/node_modules
**/npm-debug.log
**/.DS_Store
**/README.md
**/*.md
**/Dockerfile
**/.dockerignore
**/coverage
**/.nyc_output
**/.env*.local
**/dist
**/build
**/.github
**/.idea
**/yarn.lock
